@use "./function.scss" as *;
@use "./media.scss" as *;
@use "../base/variables.scss" as *;



@mixin fluid-text($max, $min) {
  font-size: fluid($max, $min);
}

@mixin svg($color) {
  & svg,
  & svg * {
    fill: $color;
  }
}

@mixin svg-hover($transition, $color) {
  & svg,
  & svg * {
    transition: $transition;
  }

  @include hover() {
    & svg,
    & svg * {
      fill: $color;
    }
  }
}

@mixin flex-between() {
  display: flex;
  justify-content: space-between;
}

@mixin flex-between-col-gap($pixelsStart, $motion, $pixelsEnd) {
  @include flex-between();
  column-gap: clamp(rem($pixelsStart), $motion, rem($pixelsEnd));
}

@mixin flex-col-gap($pixelsStart, $motion, $pixelsEnd) {
  display: flex;
  column-gap: clamp(rem($pixelsStart), $motion, rem($pixelsEnd));
}

@mixin flex-row-gap($pixels) {
  display: flex;
  flex-direction: column;
  row-gap: $pixels;
}