button, label {
  cursor: pointer;
}

button, img {
  user-select: none;
}

button {
  display: flex;
  padding: 0;
  margin: 0;
  background-color: transparent;
  color: inherit;
  border: 0;
  outline: 0;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $fontLato;
}

input {
  border: 0;
  outline: 0;
  font-family: $fontLato;
}

body {
  color: $mainBlack;
  font-family: $fontInter;
  -webkit-tap-highlight-color: transparent;
}