/* colors */
$mainOrange: #FF761E;
$mainWhite: #FFFFFF;
$mainBlack: #212121;
$mainGray: #999999;

$acceptPurple: #E9EAFF;
$acceptGray: #ADAAAA;

$backgroundGray: #F5F5F5;


// Dark mode //
$modeMainWhite: #EDEDED;

$modeBackgroundGray: #2D2D2D;


/* Font */
$fontLato: var(--font-lato);
$fontEbGaramond: var(--font-eb_garamond);
$fontInter: var(--font-inter);


/* Transition */
$smallTransition: 0.2s;
$transition: 0.4s;
$bigTransition: 0.6s;


/* Z-index */
$z-100: 100;
$z-200: 200;
$z-300: 300;
$z-400: 400;
$z-500: 500;
$z-600: 600;
$z-700: 700;