.button {
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  width: rem(40);
  height: rem(24);

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: rem(2);
    background-color: $mainBlack;
    transition: $transition;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  &Line {
    display: block;
    width: 100%;
    height: rem(2);
    background-color: $mainBlack;
    transition: $transition;

    &.active {
      opacity: 0;
    }
  }

  &.active {
    &::before {
      top: rem(12);
      rotate: 45deg;
    }

    &::after {
      bottom: rem(10);
      rotate: -45deg;
    }
  }

  @include tablet() {
    display: flex;
  }
}
